<!DOCTYPE html>
<html ng-app="ChatIn">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="manifest" href="static/css/manifest.json">
  <title>Chat-In</title>
  <link href="static/css/main.css" rel="stylesheet" type="text/css">
  <script src="static/js/vendor/angular.min.js"></script>
  <script src="static/js/vendor/cryptor.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/controller.js"></script>

</head>
<body ng-controller="ChatArena">
  <div class="menu">
    <center><h3 style="float:left">Chat-In</h3></center> 
    <center><h3><input ng-model="name" placeholder="Username" style="float:right"> </h3> </center>       
  </div>
  <ol class="chat">
    <li class="other" ng-repeat="x in message_bucket track by $index">
      <div class="msg">
        <p>{{x.message}}</p>
        <time>{{x.name}}-{{x.time}}</time>
      </div>
    </li>
  </ol>
  <h3 >{{arena_status}}</h3>
  <form id="arena" ng-submit="send_message()">
    <input class="textarea" type="text" ng-model="m_text" placeholder="Type here!"/>
    <input type="submit" hidden="">
  </form>
<script>
</script>
</body>
</html>


